version: '3.8'

services:
  container-management-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: container-management-frontend
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
